
<div style="height: 100%;" class="bg-blue-50" (swipe)="onSwipe($event)" >

  <div class="grid bg-blue-50" style="height: 10%">
    <div class="col-4 es-center-line align-items-center">
      <i class="pi pi-step-backward text-cyan-500"
         style="font-size: 2rem; margin-right: 30%" (click)="back()"></i>

      <i class="pi pi-caret-right text-indigo-600"
         style="font-size: 2rem" (click)="resetOnClick()"></i>

    </div>


    <!--<div class="col-3 es-center align-items-center">Set 1</div>-->
    <div class="col-4 es-center align-items-center es-font-title">Set</div>
    <div class="col-4 es-center align-items-center es-font-title">Score</div>
  </div>
  <div class="grid bg-blue-50" style="min-height: 40%;margin-top: auto;">
    <div class="col-4 es-center align-items-center  text-indigo-600">
      <div class="card flex flex-row flex-wrap">

        <div class="flex es-font-30 ">A</div>
        <div class="flex es-center">
          <div class="card flex flex-column">
            <div class="flex align-items-center justify-content-center"><i class="pi pi-chevron-circle-up"
                                                                           style="font-size: 2rem"
                                                                           (click)="sum('A')"></i>
            </div>
            <div class="flex align-items-center justify-content-center text-indigo-200 "><i
              class="pi pi-chevron-circle-down"
              style="font-size: 2rem;margin-top: 10px;"
              (click)="sub('A')"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="col-3 es-center align-items-center es-font-30 bg-blue-700 border-3 border-0">1</div>-->
    <div class="col-4 es-center align-items-center es-font-30 bg-blue-700 border-3 border-0"
         [ngClass]="{'text-green-300':scoreboard.winSet == 'A', 'text-50' : scoreboard.winSet != 'A'}">{{scoreboard.teamA.set}}</div>
    <div class="col-4 es-center align-items-center es-font-30 bg-blue-700 border-3 border-0"
         [ngClass]="{'text-green-300':scoreboard.winSet == 'A', 'text-50' : scoreboard.winSet != 'A'}">{{scoreboard.teamA.scoreFormatted}}</div>
  </div>
  <div class="grid bg-blue-50" style="min-height: 40%;margin-top: auto;">
    <div class="col-4 es-center align-items-center  text-indigo-600">
      <div class="card flex flex-row flex-wrap">
        <div class="flex es-font-30 ">B</div>
        <div class="flex es-center">
          <div class="card flex flex-column">
            <div class="flex align-items-center justify-content-center"><i class="pi pi-chevron-circle-up"
                                                                           style="font-size: 2rem"
                                                                           (click)="sum('B')"></i>
            </div>
            <div class="flex align-items-center justify-content-center text-indigo-200"><i
              class="pi pi-chevron-circle-down"
              style="font-size: 2rem;margin-top: 10px;"
              (click)="sub('B')"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="col-3 es-center align-items-center es-font-30 bg-blue-700 border-3 border-0" >6</div>-->
    <div class="col-4 es-center align-items-center es-font-30 bg-blue-700 border-3 border-0 "
         [ngClass]="{'text-green-300':scoreboard.winSet == 'B', 'text-50' : scoreboard.winSet != 'B'}">{{scoreboard.teamB.set}}</div>
    <div class="col-4 es-center align-items-center es-font-30 bg-blue-700 border-3 border-0 "
         [ngClass]="{'text-green-300':scoreboard.winSet == 'B', 'text-50' : scoreboard.winSet != 'B'}">{{scoreboard.teamB.scoreFormatted}}</div>
  </div>
</div>
<p-confirmDialog (swipe)="onSwipeConfirmation($event)" [style]="{width: '50vw'}" key="positionDialog" [position]="position" [baseZIndex]="10000" rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>

