/* You can add global styles to this file, and also import other style files */
@import 'node_modules/primeflex/utils';


html {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
}

html, body, #fullheight {
  min-height: 100% !important;
  height: 100%;
}

.es-center {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.es-font-30 {
  font-size: 15vw;
  border-radius: 25px;
  font-family: 'Orbitron', sans-serif;
}

.es-font-title {
  font-size: 3vw;
  font-family: 'Orbitron', sans-serif;
}
